@import 'tailwindcss';

:root {
    interpolate-size: allow-keywords; /* To animate auto-height on accordion component */

    --primary: oklab(23.169% -0.03068 0.01643);
    --primary-accent: oklch(73.897% 0.01817 206.055);
    --secondary: oklch(89.715% 0.00959 93.611);
    --accent: oklch(88.464% 0.22826 129.011);
    --dark: oklab(23.169% -0.03068 0.01643);
    --light: oklch(89.715% 0.00959 93.611);
}

[data-theme='light'] {
    --primary: oklch(76.345% 0.0173 91.603);
    --primary-accent: oklch(63.319% 0.01522 202.622);
    --secondary: oklab(0.23 -0.02 -0.01);
    --accent: oklch(88.464% 0.22826 129.011);
    --dark: oklab(23.169% -0.03068 0.01643);
    --light: oklch(89.715% 0.00959 93.611);
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-accent: var(--primary-accent);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-dark: var(--dark);
    --color-light: var(--light);

    --font-primary: var(--font-acma);
    --font-secondary: var(--font-noto);
    --font-mono: var(--font-geist-mono);

    --radius-huge: 6rem;

    --text-display-large: 147px;
    --text-display-medium: 103px;
    --text-display-small: 62px;
    --text-headline-large: 51px;
    --text-headline-medium: 40px;
    --text-headline-small: 32px;
    --text-title-large: 22px;
    --text-title-medium: 20px;
    --text-title-small: 18px;
    --text-body-large: 18px;
    --text-body-medium: 16px;
    --text-body-small: 14px;
    --text-label-large: 14px;
    --text-label-medium: 12px;
    --text-label-small: 10px;

    --max-width: 1800px;

    /* Heights based on Tailwind's spacing scale: --spacing: 0.25rem /* 4px */
    --header-height: calc(var(--spacing) * 14) /* [14] 4rem = 56px */;
    --footer-height: 600px;
    --height-content: calc(100vh - var(--header-height));

    /* Minimap dimensions */
    --minimap-width: 180px;
}

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--primary) var(--secondary);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--primary);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
    }

    button {
        @apply cursor-pointer;
    }

    h1 {
        font-family: var(--font-acma);
    }

    .underlined-link {
        @apply relative inline-block w-fit cursor-pointer overflow-x-clip text-secondary no-underline;
    }

    .underlined-link::after {
        @apply absolute bottom-[2px] left-0 z-50 h-px w-full -translate-x-[102%] bg-current transition-transform duration-300 content-[''];
    }

    .underlined-link:hover::after,
    .active.underlined-link::after {
        @apply translate-x-0;
    }
}
