@import 'tailwindcss';

:root {
    interpolate-size: allow-keywords;

    --primary: oklch(21.3% 0.034 184.9);
    --secondary: oklch(88.669% 0.01899 180.52);
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --font-primary: var(--font-acma);
    --font-secondary: var(--font-noto);
    --font-mono: var(--font-geist-mono);

    --radius-huge: 8rem;

    --text-display-large: 147px;
    --text-display-medium: 103px;
    --text-display-small: 62px;
    --text-headline-large: 51px;
    --text-headline-medium: 40px;
    --text-headline-small: 32px;
    --text-title-large: 22px;
    --text-title-medium: 20px;
    --text-title-small: 18px;
    --text-body-large: 18px;
    --text-body-medium: 16px;
    --text-body-small: 14px;
    --text-label-large: 14px;
    --text-label-medium: 12px;
    --text-label-small: 10px;

    --max-width: 1800px;

    /* Heights based on Tailwind's spacing scale: --spacing: 0.25rem /* 4px */
    --header-height: calc(var(--spacing) * 16) /* [16] 4rem = 64px */;
    --footer-height: calc(var(--spacing) * 64) /* [64] 16rem = 256px */;

    /* Minimap dimensions */
    --minimap-width: 180px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--primary) var(--secondary);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--primary);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
    }

    button {
        @apply cursor-pointer;
    }

    h1 {
        font-family: var(--font-acma);
    }

    .underlined-link {
        @apply relative inline-block w-fit cursor-pointer overflow-x-clip text-secondary no-underline;
    }

    .underlined-link::after {
        @apply absolute bottom-[2px] left-0 z-50 h-px w-full -translate-x-[102%] bg-current transition-transform duration-300 content-[''];
    }

    .underlined-link:hover::after,
    .active.underlined-link::after {
        @apply translate-x-0;
    }
}
